body {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  line-height: 24px;
}

h1, h2 ,h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 24px;
  color: #ffffff;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ff5357;
}

h2 {
  font-size: 16px;
  font-style: italic;
  color: #ff5357;
  line-height: 23px;
}

h3 {
  font-size: 30px;
  color: #000000;
  line-height: 24px;
  text-transform: uppercase;
}
